name: example tests
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 0 * * *'
jobs:
  test-bot:
    strategy:
      matrix:
        os: [macos-10.15, macos-11]
        python-version: [3.x]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: python -m pip install --upgrade pip numpy

      - run: brew tap dlr-ts/sumo

      - run: brew install --with-examples --HEAD sumo

      - run: python $(brew --prefix sumo)/share/sumo/docs/examples/runAll.py
